.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 300;
}

a {
  color: #6b92f5;
  font-weight: 600;
  text-decoration: none;
}

.body {
  background-color: #e4e4e4;
}

.container {
  position: static;
  display: block;
  margin-top: 100px;
  padding-bottom: 80px;
}

.video-embed {
  margin-top: 36px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.tabs-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.tab-button {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 0px;
  margin-left: 12px;
  padding: 12px 20px;
  border: 2px none #fff;
  border-radius: 2px;
  background-color: transparent;
  font-family: Bitter, serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: none;
}

.tab-button:hover {
  border-color: #fff;
  background-color: hsla(0, 0%, 100%, 0.27);
  color: #fff;
}

.tab-button.w--current {
  display: none;
  background-color: #792121;
  color: #ffa8a8;
}

.text-block {
  width: 100%;
  float: none;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
}

.thumbnail {
  display: inline-block;
  width: 30%;
  height: 340px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  padding-right: 40px;
  padding-left: 40px;
  float: left;
  line-height: auto;
}

.rich-text-block {
  display: inline-block;
}

.div-block-2 {
  position: static;
  display: inline-block;
}

.thumb-text {
  display: inline-block;
  width: 100%;
  padding: 0px;
  font-weight: 700;
}

.div-block-4 {
  display: inline-block;
}

.thumb-image {
  display: inline-block;
  width: 100%;
  padding: 0px;
}

.heading {
  margin-top: 130px;
  margin-bottom: 60px;
  font-family: Bitter, serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.heading-2 {
  font-family: Oswald, sans-serif;
}

.heading-3 {
  letter-spacing: 20px;
}

.heading2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Klima, sans-serif;
  color: #585858;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: auto;
  text-transform: lowercase;
}

.heading-4 {
  letter-spacing: 10px;
}

.text-block-2 {
  border: 1px none #000;
  direction: ltr;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: none;
}

.paragraph {
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.icon_paragraph {
  font-family: Bitter, serif;
  line-height: 30px;
}

.image {
  position: relative;
  top: 0px;
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: 0px;
  padding-right: 40px;
  padding-left: 0px;
  float: none;
  text-align: left;
}

.div-block-5 {
  margin-top: 100px;
}

.image-2 {
  display: block;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  float: none;
  clear: none;
}

.thumbnail-image {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.image-3 {
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.news-section {
  display: none;
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.news-item {
  display: block;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #79c8fd;
}

.news-item.coming {
  background-color: #b3bec5;
}

.div-block-6 {
  display: inline-block;
  width: 30%;
}

.image-4 {
  width: 70%;
  max-width: 500px;
  padding-top: 0px;
  padding-right: 30px;
  padding-left: 30px;
}

.news-item-text {
  display: inline-block;
  width: 30%;
}

.text-block-3 {
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.heading-5 {
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.link-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.link-block.w--current {
  width: auto;
}

.container-2 {
  margin-top: 100px;
}

.div-block-7 {
  margin-top: 100px;
}

.dropdownmenu {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.dropdown-link {
  position: relative;
  display: block;
  max-width: 100%;
  margin-right: 2%;
  margin-left: 0%;
  padding-top: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.4px;
}

.dropdown-list {
  background-color: #534444;
}

.dropdown-list.w--open {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.dropdownbutton {
  display: block;
  width: 400px;
  margin: 10px 4% 30px;
  padding-right: 0px;
  padding-left: 0%;
  float: none;
  background-color: #96c1df;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.dropdownbutton.w--current {
  display: inline;
  width: 300px;
}

.image-5 {
  max-width: 600px;
  margin-top: 24px;
}

.image-6 {
  max-width: 600px;
}

.image-7 {
  max-width: 600px;
}

.dropdown-toggle {
  display: inline-block;
  width: 100%;
}

.dropdown-toggle-2 {
  width: 100%;
  padding-left: 0px;
}

.dropdown-toggle-3 {
  width: 100%;
  padding-left: 0px;
}

.text-span {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.html-embed {
  width: 100%;
}

.html-embed.btn {
  display: flex;
  width: auto;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fce67b;
  color: #000;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.mask {
  overflow: visible;
  min-height: auto;
}

.slider {
  height: 800px;
  margin-bottom: 149px;
  line-height: 25px;
}

.image-8 {
  display: inline-block;
  max-width: 50px;
  margin-top: -30px;
  margin-bottom: -8px;
  padding-top: 0px;
  float: none;
  clear: none;
}

.heading-6 {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding-left: 0px;
  float: none;
  clear: none;
  border-radius: 5px;
  font-family: Klima, sans-serif;
  color: #8ab580;
  line-height: 43px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  -o-object-fit: fill;
     object-fit: fill;
}

.div-block-8 {
  display: block;
  text-align: center;
}

.div-block-9 {
  text-align: center;
}

.button {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #8ab580;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #608857;
  font-style: normal;
}

.button.red {
  background-color: #ec4a4a;
}

.div-block-10 {
  position: static;
  margin-top: 100px;
  text-align: center;
  -o-object-fit: fill;
     object-fit: fill;
}

.button-2 {
  display: inline-block;
  margin-right: 20px;
  margin-left: auto;
}

.coupon-field {
  position: relative;
  display: none;
  height: 64px;
  margin-bottom: 0px;
  padding-top: 12px;
  border: 0px solid #000;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #d2dfe8;
  color: #b7d8e5;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.coupon-field::-moz-placeholder {
  color: #9ccd65;
}

.coupon-field::-ms-input-placeholder {
  color: #9ccd65;
}

.coupon-field::placeholder {
  color: #9ccd65;
}

.embed-donations {
  width: 49%;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
}

.button-3 {
  padding: 10px 15px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.button-3:hover {
  box-shadow: 2px 2px 0 0 #000;
  opacity: 1;
}

.button-3.navabar {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.button-3.primary {
  background-color: #fee77b;
  cursor: pointer;
}

.button-3.primary.sk-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-3.primary.sk-nav.w--current {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-down-navbar {
  cursor: pointer;
}

.text-block-navbar-dropdown-subtitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.58);
  font-size: 12px;
  cursor: pointer;
}

.supporto-option-text-wrapper {
  display: flex;
  width: 49%;
  margin-right: 20px;
  margin-left: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-cta {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 12px;
  margin-right: 20px;
}

.navbar-cta.hide-mobile {
  z-index: 5;
  display: flex;
  margin-top: 12px;
  align-items: center;
  cursor: pointer;
}

.navbar-cta.mobile {
  display: none;
}

.icon-7 {
  position: relative;
  margin-right: 0px;
  margin-left: 5px;
  transform: rotate(-90deg);
}

.menu-button.covi {
  opacity: 0;
}

.support-option-money {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-bottom: 140px;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
}

.support-option-money.reverse {
  width: 100%;
  max-width: 1000px;
  flex-wrap: nowrap;
}

.one-army {
  width: 100px;
  margin-left: 5px;
}

.nav-dropdown-element {
  width: 100%;
  padding: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.nav-dropdown-element:hover {
  background-color: rgba(1, 0, 5, 0.05);
}

.nav-dropdown-element.bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-dropdown-element.top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav-dropdown-element.top:hover {
  background-color: rgba(1, 0, 5, 0.05);
}

.text-button {
  font-family: 'Varela Round', sans-serif;
  color: #000;
  font-size: 16px;
}

.copy-btn {
  position: relative;
  z-index: 5;
  width: 100%;
  margin-top: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #8ab580;
  font-family: 'Varela Round', sans-serif;
  color: #000;
  text-align: center;
}

.inline-link-2 {
  color: #000;
}

.image-28 {
  display: none;
  width: 8px;
  height: 8px;
  margin-left: 5px;
  transform: none;
}

.image-12 {
  margin-right: auto;
  margin-left: auto;
}

.flex-wrapper {
  display: none;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px none #000;
}

.patreon-link-image {
  border-radius: 5px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.main-container {
  width: 80%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.inline-link {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.inline-link.grey {
  color: #7f7f7f;
}

.precious-plastic-logo {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 8px;
  margin-left: 30px;
}

.dropdown-toggle-4 {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.h6.creative-commons.black {
  color: #000;
  font-size: 18px;
}

.h6.creative-commons.hide {
  display: none;
}

.h6.creative-commons.left-align {
  text-align: left;
}

.image-29 {
  margin-bottom: 2px;
}

.dropdown-2 {
  cursor: pointer;
}

.heading-12 {
  margin-top: 0px;
  font-family: Klima, sans-serif;
  color: #8ab580;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-12.big {
  font-size: 48px;
}

.form-block {
  margin-top: 20px;
  margin-bottom: 0px;
}

.social-share-btn {
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.social-share-btn.lkn {
  margin-right: 10px;
  margin-left: 10px;
  background-image: url('../images/social_linkedin_2social_linkedin_01.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.paragraph-2 {
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.cc {
  text-decoration: underline;
}

.patreon-link {
  border-radius: 5px;
}

.coup-wrap {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  overflow: hidden;
  padding-right: 0%;
  padding-left: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.paragraph-big {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
}

.paragraph-big.top-margin {
  margin-top: 20px;
}

.dropdown-list-2 {
  background-color: #fff;
}

.dropdown-list-2.w--open {
  width: 300px;
  padding: 0px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.link-switcher {
  width: 100%;
  margin: 20px auto 0px;
}

.link-switcher:hover {
  transform: scale(1.05);
}

.link-switcher.bazar {
  margin-top: 40px;
  margin-bottom: 20px;
  transition: all 200ms cubic-bezier(.55, .085, .68, .53);
  cursor: pointer;
}

.link-switcher.community {
  margin-top: 0px;
  margin-bottom: 20px;
  transition: all 200ms cubic-bezier(.55, .085, .68, .53);
  cursor: pointer;
}

.coup-container {
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  border-style: none;
  border-width: 1px;
  border-color: #ffd1e8;
  border-radius: 0px;
  background-color: #fff;
}

.switch {
  margin-top: 5px;
  margin-left: 5px;
  padding: 3px 5px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.project-by-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.project-by-link.hide {
  display: none;
}

.share-to-support {
  width: 60%;
  max-width: 800px;
  margin: 178px auto 140px;
  color: #000;
  text-align: center;
}

.image-30 {
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
}

.footer-div {
  width: auto;
}

.footer-div.logo {
  width: 20%;
  margin-right: 20%;
  text-align: left;
}

.footer-div.links {
  width: 25%;
  padding-right: 0%;
  -ms-grid-row-align: auto;
      align-self: auto;
  order: 0;
  flex: 0 auto;
}

.footer-wrapper {
  display: flex;
  margin-bottom: 100px;
  padding-left: 10%;
  justify-content: flex-start;
}

._w-inline-block {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-menu {
  position: relative;
  left: 0px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  cursor: pointer;
}

.social-icons-wrapper {
  display: none;
  margin-top: 20px;
}

.text-block-navbar-dropdown {
  margin-right: 30px;
  font-family: 'Varela Round', sans-serif;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

.text-block-navbar-dropdown.website-switch {
  margin-top: 10px;
  margin-right: 0px;
}

.h1 {
  color: #000;
  font-size: 100px;
}

.h1.hero-stroked {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Klima, sans-serif;
  color: #8ab580;
  line-height: 80px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.link-block-4 {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border-radius: 5px;
  background-color: #8ab580;
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.coupon-body-wrap {
  padding: 0px;
}

.switcher {
  margin-top: -6px;
  margin-left: 5px;
  padding: 0px;
  cursor: pointer;
}

.hero-title {
  position: relative;
  margin-top: -100px;
  text-align: center;
}

.hero-title.community-platform {
  margin-top: 150px;
}

.stroke {
  display: block;
  padding: 32px 60px 14px;
  transform: rotate(-2deg);
}

.stroke.community {
  background-image: url('../images/community-stroke.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.stroke.community.cov {
  background-image: none;
  transform: rotate(-1deg);
}

.hero-title-bg {
  display: flex;
  width: 60vw;
  max-width: 800px;
  min-width: 700px;
  margin: 0px auto 20px;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.link-logo {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 100;
  width: 95px;
  height: 90px;
  margin-top: 5px;
  margin-left: 25px;
  -o-object-fit: fill;
     object-fit: fill;
}

.footer-link {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.footer-link.hide {
  display: none;
}

.dropdown-navbar {
  padding-bottom: 0px;
  cursor: pointer;
}

.text-block-navbar-dropdown-title {
  width: 100%;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
  -o-object-fit: fill;
     object-fit: fill;
}

.switcher-dropdown.w--open {
  position: absolute;
  left: auto;
  top: 60px;
  right: 0%;
  bottom: auto;
  display: block;
  width: 300px;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.ways-to-support {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  display: flex;
  height: auto;
  padding-top: 140px;
  padding-bottom: 20px;
  align-items: center;
}

.div-block-11 {
  display: inline;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-2 {
  display: block;
}

.one-army-footer {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: flex;
  height: auto;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  background-color: #27272c;
  text-decoration: none;
}

.oa-link {
  width: 100%;
  text-decoration: none;
}

.oa-footer-wrapper {
  display: flex;
  height: auto;
  padding-top: 25px;
  padding-bottom: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #27272c;
}

.one-army-logo {
  height: 25px;
  margin-right: 10px;
}

.h5-oa {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Klima, sans-serif;
  color: #fff8ef;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.text-span-3 {
  text-decoration: underline;
}

.item {
  display: flex;
  background-color: #dfdfdf;
  font-family: Klima, sans-serif;
}

.price {
  display: none;
  width: 100px;
  height: auto;
  padding: 20px;
  align-items: center;
  font-family: Klima, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.text {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  align-items: center;
  font-size: 20px;
}

.dropdown-list-3 {
  position: relative;
}

.dropdown-list-3.w--open {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px dashed #8ab580;
  background-color: #fff;
}

.sponser-drowdown {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #8ab580;
  font-size: 20px;
}

.image-31 {
  display: block;
  width: 200px;
  height: 200px;
  max-width: 300px;
  padding: 9px;
  font-size: 100px;
  line-height: 100px;
}

.dropdown-link-2 {
  width: 70%;
}

.dropdown-toggle-5 {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  align-items: center;
  font-family: Klima, sans-serif;
}

.dropdown-toggle-5.workforce {
  border-radius: 4px;
  background-color: #cfcfcf;
}

.dropdown-toggle-5.hide {
  display: none;
}

.text-block-4 {
  display: flex;
  width: 100%;
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.text-block-4.red {
  display: inline-block;
  width: auto;
  margin-top: 0px;
  margin-right: 20px;
  padding: 2px 8px;
  border-radius: 4px;
  background-color: #e94343;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text-block-4.red.yellow {
  background-color: #e9b143;
}

.text-block-4.red.yellow.mix {
  background-color: #62c9e9;
}

.text-block-4.red.green {
  background-color: #77d36b;
}

.text-block-4.title {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
}

.text-block-4.title.done {
  opacity: 0.2;
  color: #000;
  text-decoration: line-through;
}

.text-block-5 {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px none #8ab580;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
}

.text-block-5.funded-by {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  flex: 0 auto;
  text-decoration: none;
}

.text-block-5.strike {
  text-decoration: none;
}

.div-block-12 {
  display: flex;
  width: 100%;
  padding-left: 20px;
  flex-direction: row;
  align-items: center;
}

.menubutton {
  margin-right: 10px;
  padding: 10px 12px;
  border-style: none;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.77);
  font-family: Montserrat, sans-serif;
  color: #8ab580;
  font-size: 15px;
}

.menubutton:hover {
  background-color: hsla(0, 0%, 100%, 0.56);
}

.navbar-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #8ab580;
  font-family: 'Varela Round', sans-serif;
}

.container-3 {
  width: 100%;
  margin-right: 0px;
}

.div-block-13 {
  position: relative;
  z-index: 1000;
  margin-top: 60px;
}

.nav-menu-2 {
  display: flex;
  align-items: center;
}

.image-32 {
  position: absolute;
}

.image-32.funded {
  filter: invert(100%);
}

.funded-by {
  position: absolute;
  display: block;
  margin-left: 200px;
  padding-bottom: 10px;
  padding-left: 20px;
  clear: none;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: flex-end;
  flex: 0 0 auto;
  font-family: Klima, sans-serif;
  color: #8ab580;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.iconfunded {
  opacity: 0.22;
}

.funded {
  position: absolute;
  filter: invert(100%);
}

.funded.hide {
  display: none;
}

.big {
  font-size: 70px;
}

.manpower {
  display: flex;
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  text-align: center;
}

.menu-item {
  margin-right: 0px;
  padding: 20px;
  -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-size: 16px;
}

.menu-item:hover {
  color: #444;
}

.menu-item.w--current {
  color: #fff;
}

.container-4 {
  max-width: 1200px;
  margin-top: 100px;
}

.title {
  margin-top: 50px;
  margin-bottom: 100px;
}

.heading-13 {
  margin-bottom: 0px;
  font-family: Klima, sans-serif;
  color: #8ab580;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.heading-13.sub {
  margin-top: 0px;
  color: #636363;
  font-size: 30px;
}

.half {
  display: flex;
  margin-bottom: 50px;
}

.half-text {
  width: 50%;
  margin-right: 30px;
  margin-left: 1px;
  -ms-grid-row-align: center;
      align-self: center;
}

.half-text.right {
  margin-right: 0px;
  margin-left: 64px;
}

.half-image {
  width: 50%;
}

.half-image.hide {
  display: none;
}

.video {
  display: none;
  margin-bottom: 100px;
  padding: 0px 104px 104px;
}

.heading-14 {
  text-align: center;
}

.slider-2 {
  height: 400px;
}

.season {
  margin-bottom: 100px;
}

.heading-15 {
  text-align: center;
}

.grid {
  grid-auto-flow: row;
      grid-template-areas: "Area Area-2";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.grid.hidden {
  display: none;
}

.grid-image {
  border-radius: 5px;
}

.grid-image:hover {
  opacity: 0.68;
}

.grid-title {
  margin-top: 10px;
  font-family: Klima, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.tabs {
  margin-top: 69px;
}

.tabs-menu-2 {
  width: 100%;
}

.tab-link-tab-1 {
  width: 50%;
  text-align: center;
}

.tab-link-tab-1.w--current {
  width: 50%;
  text-align: center;
}

.tab-link-tab-2 {
  width: 50%;
  text-align: center;
}

.container-main {
  margin-top: 100px;
}

.container-main.faq {
  padding-bottom: 100px;
  font-family: Klima, sans-serif;
}

.menu-logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
}

.image-33 {
  width: 100px;
}

.text-block-6 {
  font-weight: 400;
}

.menubuttons {
  margin-left: 60px;
}

.seasonheader {
  font-family: Klima, sans-serif;
  color: #8ab580;
  font-weight: 700;
  text-transform: uppercase;
}

.seasonheader.center {
  margin-top: 200px;
  margin-bottom: 80px;
  font-size: 48px;
  text-align: center;
}

.slide {
  overflow: visible;
}

.image-34 {
  position: static;
  display: inline-block;
  overflow: visible;
  -o-object-fit: fill;
     object-fit: fill;
}

.seasonslider {
  overflow: hidden;
  height: 500px;
  border-radius: 14px;
}

.seasonslider.hight {
  height: 555px;
}

.seasonp {
  font-family: Klima, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.videoborder {
  overflow: hidden;
  border-radius: 9px;
}

.menutext {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

.menutext:hover {
  display: block;
  color: #333;
}

.menutext:focus {
  color: #333;
}

.menutext.drop {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  text-align: left;
}

.menutext.drop:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menutext.drop.w--current {
  color: #383838;
  text-align: left;
}

.dropdown-link-3 {
  color: #6b92f5;
}

.dropdown-list-4 {
  background-color: #8ab580;
}

.dropdown-list-4.w--open {
  border-radius: 0px 0px 15px 15px;
}

.dropdownicon {
  margin-right: 2px;
  color: #fff;
}

.homeheader {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  perspective: 333px;
}

.headerbackground {
  width: 100%;
  height: 800px;
  background-image: url('../images/header.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.headertext {
  position: absolute;
}

.heading-16 {
  transition: margin-top 475ms ease;
  font-family: Klima, sans-serif;
  color: #fff;
  font-size: 52px;
  line-height: 56px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}

.body-3 {
  background-color: #fff;
}

.fullblock {
  display: flex;
  height: 700px;
}

.blockimage {
  width: 50%;
  height: auto;
  padding: 63px;
}

.blockimage.plan {
  background-image: url('../images/ProjectKamp_sketch_02.jpg');
}

.blocktext {
  display: flex;
  width: 50%;
  height: auto;
  padding: 26px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: auto;
  flex: 0 auto;
}

.paragraph-3 {
  display: flex;
  max-width: 400px;
  justify-content: center;
  font-size: 18px;
  line-height: 31px;
}

.heading-17 {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(0deg);
  color: #8ab580;
  font-weight: 700;
  text-align: left;
}

.bocktextfloat {
  display: block;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: Klima, sans-serif;
}

.blockimage1 {
  height: 100%;
  border-radius: 15px;
  background-image: url('../images/problem.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.blockimage1.image2 {
  background-image: url('../images/ProjectKamp_sketch_02.jpg');
  background-position: 100% 50%;
  text-align: left;
}

.blockimage1.image3 {
  background-image: url('../images/210501986_1152484951900645_767817505352902364_n.jpg');
}

.notsure {
  font-family: Klima, sans-serif;
  text-align: center;
}

.heading-18 {
  font-size: 69px;
  line-height: 72px;
  font-weight: 700;
}

.heading-19 {
  margin-top: 0px;
  font-size: 28px;
}

.cta {
  display: flex;
  margin-top: 100px;
  margin-bottom: 300px;
  justify-content: center;
}

.containerhome {
  max-width: 1400px;
}

.link {
  font-family: Klima, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.bigvideo {
  margin-top: 100px;
  margin-bottom: 50px;
}

.heading-20 {
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 30px;
  padding-left: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  font-family: Klima, sans-serif;
  color: #fff;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.background-video {
  display: flex;
  height: 800px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.paragraph-4 {
  font-family: Klima, sans-serif;
}

.paragraph-4.mission {
  font-size: 25px;
  line-height: 34px;
}

.menu {
  padding-right: 23px;
}

.image-35 {
  width: 100px;
  margin-top: 20px;
  text-align: center;
}

.youtube-button:hover {
  opacity: 0.85;
}

.mission {
  margin-top: 50px;
}

.heading-21 {
  font-family: Klima, sans-serif;
  font-weight: 700;
}

.slide-2 {
  height: 100%;
}

.image-36 {
  height: 100%;
}

.fullscreenheader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('../images/header.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.bodyheight {
  height: 100%;
}

.faqdrop {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 20px;
}

.faq-guestion {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 22px;
}

.faq-guestion.title {
  font-size: 28px;
}

.whatwedid {
  display: block;
  max-width: 800px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
}

.half-goals {
  display: inline-block;
  width: 50%;
}

.heading-22 {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  font-family: Klima, sans-serif;
  color: #575757;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.achievement {
  display: flex;
  height: 50px;
  margin-bottom: 8px;
  margin-left: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.achieved {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Klima, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.achievement-image {
  width: 50px;
  margin-right: 10px;
  padding: 4px;
}

.achievement-image.hidden {
  opacity: 0;
}

.div-block-14 {
  height: 300px;
}

.html-embed-2 {
  width: 100%;
  min-height: 500px;
  min-width: 500px;
}

.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.utility-page-content {
  display: flex;
  width: 260px;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.green {
  background-color: #8ab580;
}

.white {
  color: #fff;
  text-decoration: underline;
}

.link-2 {
  text-decoration: line-through;
}

.season2 {
  display: none;
  overflow: hidden;
  width: 100%;
}

.link-3 {
  font-size: 18px;
}

.div-block-15 {
  width: 20%;
}

.div-block-15.newseason {
  width: 600px;
  padding: 20px;
  background-color: #fff;
  opacity: 1;
}

.paragraph-5 {
  margin-top: 20px;
  font-family: Klima, sans-serif;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.heading-23 {
  font-family: Klima, sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.div-block-16 {
  position: absolute;
}

.heading-24 {
  max-width: 600px;
}

.message {
  display: flex;
  max-width: 600px;
  justify-content: center;
  font-family: Klima, sans-serif;
  font-size: 60px;
  line-height: 84px;
  text-align: center;
}

.div-block-17 {
  display: flex;
  margin-bottom: 900px;
  justify-content: center;
  align-items: flex-start;
}

.link-4 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.paragraph-6 {
  font-family: Klima, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.paragraph-6.statstexts {
  margin-bottom: 100px;
}

.html-embed-3 {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}

.done {
  text-decoration: line-through;
}

@media screen and (max-width: 991px) {
  .thumbnail {
    width: 33%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .image {
    display: block;
    overflow: visible;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    float: none;
    clear: none;
  }

  .image-2 {
    max-width: 400px;
    padding-top: 200px;
    padding-bottom: 100px;
  }

  .div-block-7 {
    padding-bottom: 0px;
  }

  .slider {
    height: 700px;
  }

  .heading-6 {
    width: 100%;
    margin-bottom: 24px;
    margin-left: 1px;
    text-align: center;
  }

  .button {
    margin-left: 20px;
    padding: 15px 20px;
    border: 0px solid #000;
    border-radius: 6px;
    background-color: #8ab580;
    transition: opacity 200ms ease;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  .button:hover {
    background-color: #699160;
  }

  .div-block-10 {
    margin-top: 100px;
  }

  .button-2 {
    margin-left: 20px;
    background-color: #8ab580;
    text-transform: uppercase;
  }

  .button-3.navabar {
    width: auto;
    margin: 13px 0px;
  }

  .button-3.primary {
    width: auto;
  }

  .navbar-cta {
    margin-top: 0px;
  }

  .navbar-cta.hide-mobile {
    display: none;
  }

  .navbar-cta.mobile {
    position: relative;
    display: flex;
    margin-right: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-button {
    position: fixed;
    left: auto;
    top: 5px;
    right: 10px;
    bottom: auto;
    background-color: #fff;
  }

  .menu-button.w--open {
    background-color: #fff;
    color: #000;
  }

  .menu-button.covi {
    background-color: transparent;
    opacity: 1;
    color: #000;
  }

  .support-option-money {
    width: 98%;
  }

  .nav-dropdown-element {
    padding-left: 40px;
  }

  .main-container {
    width: 98%;
  }

  .precious-plastic-logo {
    z-index: 100;
  }

  .dropdown-toggle-4 {
    padding-left: 0px;
  }

  .dropdown-list-2.w--open {
    border-style: none;
  }

  .switch.hide {
    display: none;
  }

  .share-to-support {
    width: 80%;
  }

  .footer-wrapper {
    padding-left: 5%;
  }

  .nav-menu {
    padding-top: 50px;
    background-color: #fff;
  }

  .icon-5 {
    position: relative;
    display: block;
    background-color: transparent;
    color: #000;
    -o-object-fit: fill;
       object-fit: fill;
  }

  .text-block-navbar-dropdown {
    display: inline-block;
  }

  .link-logo {
    z-index: 100;
  }

  .dropdown-navbar {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
  }

  .footer {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .text-block-4.red {
    position: relative;
    margin-top: 4px;
  }

  .div-block-12 {
    flex-direction: column;
    align-items: flex-start;
  }

  .menubutton {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-2 {
    z-index: 3000;
  }

  .menu-button-2 {
    margin-right: 20px;
  }

  .menu-button-2.w--open {
    background-color: hsla(0, 0%, 88.7%, 0);
  }

  .nav-menu-2 {
    display: block;
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #8ab580;
    text-align: right;
  }

  .icon-8 {
    color: #000;
  }

  .menu-item {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-item:hover {
    background-color: rgba(60, 60, 60, 0.31);
  }

  .menu-item.w--current {
    border-radius: 8px;
  }

  .half {
    padding-right: 20px;
    padding-left: 20px;
  }

  .half-text {
    margin-bottom: 40px;
  }

  .video {
    padding-right: 20px;
    padding-left: 20px;
  }

  .season {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-logo {
    z-index: 20;
  }

  .menu-logo.w--current {
    z-index: 9;
  }

  .menubuttons {
    display: block;
    width: 100%;
    max-width: 150px;
    margin-left: 0px;
    float: right;
    clear: none;
    justify-content: center;
    align-items: center;
    -ms-grid-row-align: auto;
        align-self: auto;
    order: 0;
    flex: 0 auto;
    text-align: left;
  }

  .seasonheader {
    font-size: 27px;
  }

  .seasonslider {
    height: 300px;
  }

  .seasonslider.hight {
    height: 350px;
  }

  .seasonp {
    font-size: 15px;
  }

  .menutext.drop {
    text-align: right;
  }

  .dropdown-list-4.w--open {
    border-radius: 0px;
  }

  .fullblock {
    height: auto;
  }

  .blockimage {
    padding: 40px;
  }

  .blocktext {
    padding-top: 54px;
    padding-bottom: 76px;
  }

  .paragraph-3 {
    font-size: 14px;
  }

  .heading-17 {
    font-size: 30px;
  }

  .menu {
    width: 100%;
    text-align: right;
  }

  .dropdown-3 {
    width: 100%;
    float: right;
    clear: none;
    text-align: right;
  }

  .fullscreenheader {
    margin-top: 60px;
    background-position: 50% 50%;
  }

  .whatwedid {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .achievement {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .tab-button {
    border-style: none;
  }

  .tab-button:hover {
    background-color: transparent;
  }

  .thumbnail {
    width: 47%;
    height: 240px;
    margin-bottom: 10px;
  }

  .paragraph {
    padding-right: 15px;
    padding-left: 15px;
  }

  .thumbnail-image {
    display: block;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .div-block-7 {
    padding-bottom: 40px;
  }

  .image-5 {
    max-width: 100%;
  }

  .image-6 {
    max-width: 100%;
  }

  .image-7 {
    max-width: 100%;
  }

  .slider {
    height: 500px;
  }

  .image-8 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-6 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 28px;
  }

  .embed-donations {
    width: 70%;
  }

  .supporto-option-text-wrapper {
    width: 70%;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .navbar-cta.mobile {
    padding-left: 25px;
  }

  .support-option-money {
    flex-direction: column;
  }

  .support-option-money.reverse {
    flex-wrap: nowrap;
  }

  .dropdown-toggle-4 {
    padding-left: 30px;
  }

  .heading-12 {
    margin-bottom: 0px;
  }

  .heading-12.big {
    font-size: 30px;
  }

  .paragraph-2 {
    font-size: 16px;
    line-height: 28px;
  }

  .image-30 {
    width: 70%;
    margin-bottom: 20px;
  }

  .h1.hero-stroked {
    font-size: 60px;
  }

  .hero-title.community-platform {
    margin-top: 50px;
  }

  .hero-title-bg {
    width: 100%;
    min-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .dropdown-navbar {
    padding-left: 0px;
  }

  .ways-to-support {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .text-block-4.title {
    font-size: 15px;
  }

  .menubutton {
    width: 100%;
  }

  .menu-button-2.w--open {
    margin-right: 30px;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, 0.24);
  }

  .big {
    font-size: 50px;
  }

  .manpower {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .half {
    display: inline-block;
  }

  .half-text {
    width: 100%;
  }

  .half-text.right {
    margin-left: 0px;
  }

  .half-image {
    width: 100%;
  }

  .half-image.hide {
    display: block;
  }

  .half-image.mobile {
    display: none;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .container-main {
    margin-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-logo {
    margin-top: 0px;
    margin-left: 10px;
  }

  .menu-logo.w--current {
    margin-top: 0px;
  }

  .image-33 {
    width: 50px;
    margin-top: 5px;
  }

  .seasonslider {
    height: 400px;
  }

  .fullblock {
    display: inline-block;
    width: 100%;
    align-items: stretch;
  }

  .blockimage {
    display: block;
    width: 100%;
    height: 400px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .blocktext {
    width: 100%;
    padding-top: 0px;
  }

  .notsure {
    padding-right: 10px;
    padding-left: 10px;
  }

  .heading-20 {
    font-size: 40px;
    line-height: 60px;
  }

  .background-video {
    height: 500px;
  }

  .paragraph-4.mission {
    font-size: 18px;
    text-align: justify;
  }

  .image-35 {
    width: 60px;
    margin-top: 20px;
  }

  .heading-21 {
    font-size: 29px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    margin-top: 40px;
  }

  .tabs-menu {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .thumbnail {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .text-block-2 {
    display: none;
    overflow: visible;
  }

  .paragraph {
    font-size: 12px;
    line-height: 30px;
  }

  .div-block-5 {
    margin-top: 40px;
  }

  .image-2 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .dropdown-link {
    position: relative;
    float: none;
    clear: none;
    color: #000;
  }

  .text-span-2 {
    position: static;
    display: block;
    overflow: visible;
    width: auto;
    float: none;
    clear: none;
    direction: ltr;
    text-align: center;
  }

  .slider {
    height: 300px;
  }

  .heading-6 {
    margin-top: 8px;
    font-size: 18px;
  }

  .button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .embed-donations {
    width: 100%;
  }

  .button-3.navabar {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .button-3.primary {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .arrow-down-navbar {
    margin-right: 25px;
  }

  .supporto-option-text-wrapper {
    width: 98%;
  }

  .navbar-cta {
    margin-right: 5px;
  }

  .navbar-cta.mobile {
    padding-left: 15px;
  }

  .menu-button.w--open {
    right: 0px;
  }

  .menu-button.covi {
    display: block;
    margin-right: 0px;
    background-color: transparent;
    opacity: 1;
  }

  .menu-button.covi.w--open {
    margin-right: 10px;
  }

  .support-option-money {
    width: 95%;
  }

  .one-army {
    margin-top: 5px;
  }

  .nav-dropdown-element {
    padding-left: 30px;
  }

  .nav-dropdown-element.bottom {
    padding-left: 30px;
  }

  .nav-dropdown-element.top {
    padding-left: 30px;
  }

  .text-button {
    display: block;
  }

  .precious-plastic-logo {
    margin-left: 10px;
  }

  .dropdown-toggle-4 {
    width: 100%;
    padding-left: 15px;
  }

  .dropdown-toggle-4:active {
    background-color: #fff;
  }

  .dropdown-toggle-4.w--open {
    padding-right: 30px;
  }

  .h6.creative-commons {
    margin-right: 20px;
    margin-left: 20px;
  }

  .h6.creative-commons.left-align {
    margin-left: 0px;
  }

  .heading-12.big {
    text-align: left;
  }

  .paragraph-2 {
    text-align: left;
  }

  .paragraph-big {
    font-size: 22px;
    line-height: 30px;
  }

  .paragraph-big.top-margin {
    margin-top: 0px;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
  }

  .project-by-link {
    flex-direction: column;
  }

  .share-to-support {
    width: 98%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .image-30 {
    width: 98%;
  }

  .footer-div.logo {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }

  .footer-div.links {
    width: 40%;
    margin-bottom: 40px;
    margin-left: 10%;
  }

  .footer-div.links.last-mobile {
    width: 100%;
  }

  .footer-wrapper {
    padding-left: 0%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .nav-menu {
    position: absolute;
    width: 100%;
    margin-top: 0px;
    padding-top: 30px;
  }

  .icon-5 {
    display: block;
    background-color: transparent;
    color: #000;
  }

  .h1.hero-stroked {
    position: relative;
    z-index: 3;
    display: block;
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 38px;
    line-height: 40px;
    text-align: left;
  }

  .hero-title {
    margin-top: -65px;
  }

  .stroke.community {
    padding-right: 20px;
    padding-left: 20px;
  }

  .stroke.community.cov {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .hero-title-bg {
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .link-logo {
    margin-left: 10px;
  }

  .dropdown-navbar:active {
    background-color: #fff;
  }

  .footer {
    height: auto;
  }

  .body-2 {
    white-space: normal;
  }

  .dropdown-list-3.w--open {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-block-4.title {
    position: static;
    clear: none;
    text-align: left;
    white-space: pre-line;
    -o-object-fit: fill;
       object-fit: fill;
  }

  .funded-by {
    position: static;
    display: block;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-left: 0px;
    -ms-grid-row-align: auto;
        align-self: auto;
    order: 0;
    flex: 0 0 auto;
  }

  .heading-13 {
    font-size: 40px;
  }

  .heading-13.sub {
    font-size: 20px;
  }

  .video {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

  .grid-title {
    display: none;
    font-size: 13px;
    text-align: left;
  }

  .seasonheader {
    font-size: 23px;
  }

  .seasonslider {
    height: 250px;
  }

  .seasonp {
    font-size: 14px;
  }

  .blockimage {
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .heading-17 {
    transform: rotate(0deg);
    color: #8ab580;
    font-weight: 700;
  }

  .heading-17.homepage {
    font-size: 24px;
    line-height: 35px;
  }

  .heading-18 {
    font-size: 40px;
  }

  .heading-19 {
    font-size: 23px;
  }

  .cta {
    display: inline-block;
    text-align: center;
  }

  .heading-20 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
    line-height: 50px;
  }

  .background-video {
    height: 400px;
  }

  .paragraph-4.mission {
    margin-top: 0px;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
  }

  .heading-21 {
    font-size: 26px;
  }

  .whatwedid {
    padding-right: 10px;
    padding-left: 10px;
  }

  .half-goals {
    width: 100%;
  }

  .heading-22 {
    line-height: 45px;
  }
}

@font-face {
  font-family: 'Klima';
  src: url('../fonts/klima-regular-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/klima-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/klima-bold-italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/klima-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/klima-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/klima-black-italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}